.betRecordPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  
    .recordType {
        width: 100%;
        height: 31vw;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: pxToVw(350) 3vw 3vw;
        position: relative;
        z-index: 6;

        li {
            width: 24vw;
            height: 10vw;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: none;
            border-radius: 50px;
            margin-right: 2vw;

            p {
                font-size: 4.2vw;
                font-weight: bold;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .searchFilters {
        width: 100%;
        height: 15vw;
        display: none;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        padding: 0 3vw;
        position: relative;
        z-index: 5;

        button {
            width: 14vw;
            height: 60%;
            border-radius: pxToVw(20);
            font-size: 3.8vw;
            font-weight: bold;
            white-space: nowrap;
        }
    }

    .dataTable {
        display: none;
        width: 100%;
        height: auto;
        padding: 0 0 pxToVw(300) 0;
        overflow-y: auto;
        position: relative;
        z-index: 3;

        &.display {
            display: block;
        }
        
        .detailBlock {
            width: 100%;
            height: auto;
            border-radius: 30px 0 0 0;
            padding: 3vw 3vw 0 3vw;
            box-sizing: border-box;
            overflow: hidden;

            &.active {
                padding: 3vw;

                &:not(:first-child) {
                    padding: 0 3vw;
                }

                .tableOuter {

                    table {
                    
                        tr {

                            &.gameName {

                                th {

                                    &:nth-of-type(2) {

                                        .outer {

                                            i {
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                }
                            }

                            &:not(:nth-of-type(2)) {

                                td {
                                    display: table-cell;
                                }
                            }

                            &.summary {

                                td {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .tableOuter {
                width: auto;
                height: auto;
                border-radius: 2vw;

                table {
                    width: 100%;
                    height: auto;
                    border-collapse: collapse;
                    border-radius: 2vw;
                    overflow: hidden;

                    tr {

                        &.gameName {

                            th {
                                height: 10vw;
                                vertical-align: middle;

                                &:nth-of-type(2) {

                                    .outer {
                                        width: 100%;
                                        justify-content: flex-end;

                                        i {
                                            flex-shrink: 0;
                                            filter: brightness(2);
                                            margin: 0 1vw 0 3vw;
                                            transform: rotate(-180deg);
                                            translate: transform 0.3s;
                                        }
                                    }
                                }

                                .outer {
                                    display: flex;
                                    align-items: center;
                                    padding: 0 2vw;

                                    .state {
                                        padding-left: 2vw;
                                        margin-left: 4vw;
                                    }
                                }

                                p {
                                    font-size: 3.8vw;
                                    font-weight: bold;
                                    white-space: nowrap;
                                }
                            }
                        }

                        &:nth-of-type(1) {
                            border-bottom: none;
                        }

                        &.summary {

                            td {
                                height: 10vw;

                                .outer {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    padding: 0 0 0 2vw;
                                    box-sizing: border-box;
                                    
                                    p {

                                        &:first-child {
                                            width: auto;
                                            flex-shrink: 0;
                                            padding: 0;
                                            margin-right: 2vw;
                                        }

                                        &:last-child {
                                            width: 100%;
                                            max-width: 18vw;
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-of-type(4),
                        &:nth-of-type(5),
                        &:nth-of-type(6),
                        &:nth-of-type(7) {

                            td {
                                
                                &:last-child {
                                    border-right: none;
                                }

                                &:nth-of-type(odd) {
                                    width: 5%;
                                
                                    p {
                                        text-align: center;
                                    }
                                }

                                &:nth-of-type(even) {
                                    width: 45%;
                                }
                            }
                        }
                    
                        &:last-child {
                            border-bottom: none;
                        }

                        &:not(:nth-of-type(2)) {

                            td {
                                display: none;
                            }
                        }

                        td {
                            height: 10vw;
                            vertical-align: middle;
                            padding: 0 2vw;

                            &.gameInfo {
                                height: 18vw;

                                .outer {

                                    .team {
                                        display: flex;
                                        margin: 2vw 0;

                                        span {
                                            font-size: 3.8vw;
                                            font-weight: bold;
                                            margin: 0 1vw;
                                        }
                                    }
                                }
                            }

                            p {
                                font-size: 3.8vw;
                                font-weight: bold;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }

        &.current {
            min-height: calc(100% - 82vw);
            padding-bottom: 16vw;

           li {
            width: 100%;
            height: auto;
           }
        }
        
        &.history {
            min-height: calc(100% - 82vw);
            padding-bottom: 18vw;
    
            .itemName_Wrap {
                width: 100%;
                height: 8vw;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &>div {
                    width: 100%;
                    height: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 5vw;
    
                    &:last-child {
                        border: none;
                    }
    
                    &:nth-of-type(2) {
                        width: 40%;
                        flex-shrink: 0;
                        padding: 0 4vw;
                    }
    
                    p {
                        font-size: 3.8vw;
                        font-weight: bold;
                        white-space: nowrap;
                    }
                }
            }

            li {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                &.active {
                    height: auto;
                    border-bottom: none;
    
                    .detailBlock {
                        display: block;
                        padding: 3vw;
    
                        .downArrow_Icon {
                            transform: rotate(-180deg);
                        }
                    }
                }
    
                &:last-of-type {
                    border-bottom: none;
                }
    
                .overView {
                    width: 100%;
                    height: 12vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    z-index: 2;
    
                    &>div {
                        width: 100%;
                        height: 60%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 2vw;
        
                        &.totalBlock {
                            width: 40%;
                            flex-shrink: 0;
                        }
    
                        p {
                            font-size: 3.4vw;
                            font-weight: bold;
                            white-space: nowrap;
                            text-align: center;
                        }
    
                        .countNum {
                            width: 5.6vw;
                            height: 5.6vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50px;
                            font-size: 3.4vw;
                            font-weight: bold;
                            margin-right: 1vw;
                        }
    
                        .slash {
                            margin: 0 1vw;
                        }
                    }
                }
    
                .detailBlock {
                    display: none;
                    padding: 3vw;

                    .tableOuter {

                        table {

                            &.active {
                                
                                tr {
        
                                    &.gameName {
        
                                        th {
        
                                            &:nth-of-type(2) {
        
                                                .outer {
        
                                                    i {
                                                        transform: rotate(0deg);
                                                    }
                                                }
                                            }
                                        }
                                    }
        
                                    td {
                                        display: table-cell !important;
                                    }
        
                                    &.summary {
                                        display: none;
                                    }
                                }
                            }

                            tr {
                                
                                &.gameName {
        
                                    th {
                                        height: 10vw;
                                        vertical-align: middle;
        
                                        &:nth-of-type(2) {
        
                                            .outer {
                                                width: 100%;
                                                justify-content: flex-end;
        
                                                i {
                                                    flex-shrink: 0;
                                                    filter: brightness(2);
                                                    margin: 0 1vw 0 3vw;
                                                    transform: rotate(-180deg);
                                                    translate: transform 0.3s;
                                                }
                                            }
                                        }
        
                                        .outer {
                                            display: flex;
                                            align-items: center;
                                            padding: 0 2vw;
        
                                            .state {
                                                padding-left: 2vw;
                                                margin-left: 4vw;
                                            }
                                        }
        
                                        p {
                                            font-size: 3.8vw;
                                            font-weight: bold;
                                            white-space: nowrap;
                                        }
                                    }
                                }
        
                                &:nth-of-type(1) {
                                    border-bottom: none;
                                }
        
                                &.summary {
        
                                    td {
                                        display: table-cell;
                                        height: 10vw;
        
                                        .outer {
                                            display: flex;
                                            align-items: center;
                                            justify-content: flex-end;
                                            padding: 0 0 0 2vw;
                                            box-sizing: border-box;
                                            
                                            p {
        
                                                &:first-child {
                                                    width: auto;
                                                    flex-shrink: 0;
                                                    padding: 0;
                                                    margin-right: 2vw;
                                                }
        
                                                &:last-child {
                                                    width: 100%;
                                                    max-width: 18vw;
                                                }
                                            }
                                        }
                                    }
                                }
        
                                &:nth-of-type(4),
                                &:nth-of-type(5),
                                &:nth-of-type(6),
                                &:nth-of-type(7) {
        
                                    td {
                                        
                                        &:last-child {
                                            border-right: none;
                                        }
        
                                        &:nth-of-type(odd) {
                                            width: 5%;
                                        
                                            p {
                                                text-align: center;
                                            }
                                        }
        
                                        &:nth-of-type(even) {
                                            width: 45%;
                                        }
                                    }
                                }
                            
                                &:last-child {
                                    border-bottom: none;
                                }
        
                                &:not(.summary) {
        
                                    td {
                                        display: none;
                                    }
                                }
        
                                td {
                                    height: 10vw;
                                    vertical-align: middle;
                                    padding: 0 2vw;
        
                                    &.gameInfo {
                                        height: 18vw;
        
                                        .outer {
        
                                            .team {
                                                display: flex;
                                                margin: 2vw 0;
        
                                                span {
                                                    font-size: 3.8vw;
                                                    font-weight: bold;
                                                    margin: 0 1vw;
                                                }
                                            }
                                        }
                                    }
        
                                    p {
                                        font-size: 3.8vw;
                                        font-weight: bold;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }

                        &:not(:first-child) {
                            margin-top: 3vw;
                        }
                    }
                }
            }
        }
    }

    .countBlock {
        width: 100%;
        height: 16vw;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 8;

        &::before {
            content: "";
            width: 0.1vw;
            height: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .half {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 3vw;

            p {
                font-size: 3.8vw;
                margin-bottom: 1vw;
            }

            span {
                max-width: 100%;
                font-size: 4vw;
                font-weight: bold;
            }
        }
    }
}