.gameResultPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .resultType {
        width: 100%;
        height: 31vw;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: pxToVw(350) 2vw 2vw;
        position: relative;
        z-index: 6;

        li {
            width: auto;
            height: 10vw;
            display: flex;
            align-items: center;
            justify-content: center;
            border: pxToVw(1) solid transparent;
            box-shadow: none;
            border-radius: 50px;
            padding: 0 4vw;
            margin-right: 2vw;
            position: relative;

            p {
                font-size: 4.2vw;
                font-weight: bold;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .searchFilters {
        width: 100%;
        height: 15vw;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 2vw;
        position: relative;
        z-index: 5;

        button {
            width: 24vw;
            height: 60%;
            border-radius: pxToVw(20);
            font-size: 3.8vw;
            font-weight: bold;
            white-space: nowrap;
            margin-right: 3vw;
        }
    }

    .dataTable {
        display: none;
        width: 100%;
        height: auto;
        padding: 0 2vw;
        overflow-y: auto;
        position: relative;
        z-index: 3;

        &.display {
            display: block;
        }
      
        .tableOuter {
            width: auto;
            height: auto;
            border-radius: 0.8vw;
            margin-bottom: 2vw;

            table {
                width: 100%;
                height: auto;
                border-collapse: collapse;
                overflow: hidden;

                tr {
                    
                    &.gameName {

                        th {
                            height: 8vw;
                            vertical-align: middle;

                            p {
                                letter-spacing: 2px;
                            }

                            .outer {
                                display: flex;
                                align-items: center;
                                padding: 0 2vw;

                                .state {
                                    padding-left: 2vw;
                                    margin-left: 4vw;
                                }
                            }
                        }
                    }

                    &:nth-of-type(even) {

                        td {

                            &:nth-of-type(1) {

                                .outer {
                                    flex-direction: column;
    
                                    span {
                                        font-size: 3.8vw;
                                        font-weight: bold;
    
                                        &:first-child {
                                            margin-bottom: 1vw;
                                        }
                                    }
                                }

                                p {
                                    text-align: start;
                                }
                            }
                        }
                    }

                    &:nth-of-type(odd){

                        td {

                            &:nth-of-type(1) {

                                .outer {
                                    flex-direction: column;
    
                                    span {
                                        font-size: 3.8vw;
                                        font-weight: bold;
    
                                        &:first-child {
                                            margin-bottom: 1vw;
                                        }
                                    }
                                }
                            }

                            &:nth-of-type(2) {

                                p {
                                    text-align: start;
                                }
                            }
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    p {
                        font-size: 3.8vw;
                    }

                    td {
                        height: 8vw;
                        vertical-align: middle;
                        padding: 0 2vw;

                        &:nth-of-type(1) {
                            width: 20%;
                        }

                        &:nth-of-type(2) {
                            width: 66%;
                        }

                        &:nth-of-type(3), 
                        &:nth-of-type(4) {
                            width: 10%;
                        }

                        &:last-child {
                            border-right: none;
                        }
                        
                        .outer {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        p {
                            font-weight: bold;
                            text-align: center;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}