.withdrawPage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 0 17vw 0;
    position: relative;

    .topArea {
        width: 100%;
        height: auto;
        padding: 3vw;
        margin-bottom: 4vw;
        position: relative;
        z-index: 6;

        label {
            width: 100%;
            height: auto;
            padding: 2vw 0;
            position: relative;

            &:last-child {
                border-bottom: none;
            }

            input {
                width: 100%;
                height: 10vw;
                font-size: 3.8vw;
                padding: 0 2vw;
                margin: 2vw 0;

                &.unEdit {
                    border-width: 0 0 0.2vw 0;
                    padding: 0;
                    margin: 0 0 2vw;
                }
            }

            i {
                position: absolute;
                top: 50%;
                right: 4vw;
                transform: translateY(-50%);
            }
        }
    }

    .checkBtn {
        width: 95%;
        height: 11vw;
        margin: 0 auto;
        font-size: 4vw;
    }

    p {
        font-size: 4vw;
        font-weight: bold;

        &.itemName {
            width: auto;
            font-weight: 4.3vw;
        }

        &.hint {
            width: 100%;
            text-align: center;
            font-size: 3.8vw;
            margin: 1.8vw 0 ;
        }
    }

    .remindBox {
        width: 95%;
        height: auto;
        border-radius: 2vw;
        padding: 3vw;
        margin: 3vw auto 7vw;

        p {
            font-size: 3.8vw;

            &.title {
                margin-bottom: 3vw;
            }

            &.normal {
                line-height: 4.4vw;
            }

            &.highlight {
                margin-top: 3vw;
                line-height: 4.4vw;
            }
        }
    }
}