//BG_Color
$BG_Color00: #f7f7f7;
$BG_Color01: #ffffff;
$BG_Color02: #cdd0dd;
$BG_Color03: #2d43b6;
$BG_Color04: #eef1f8;
$BG_Color05: #d3dbff;
$BG_Color06: #546ce6;
$BG_Color07: #ffdbd7;
$BG_Color08: #959dc5;
$BG_Color09: #f6f8ff;
$BG_Color10: #737997;
$BG_Color11: #00000073;

//Font_color
$Font_Color01: #000000;
$Font_Color02: #838ba0;
$Font_Color03: #ffffff;
$Font_Color04: #2d43b6;
$Font_Color05: #1b255c;
$Font_Color06: #4d515d;
$Font_Color07: #546ce6;
$Font_Color08: #8e9bdc;
$Font_link: #599bcf;
$Font_em: #f35a02;
$Font_remind: #f30d0d;
$Font_positive: #1cc948;

//linear
$linear01: linear-gradient(to right, #909ddc 0%, #2e44b6 100%);
$linear02: linear-gradient(to bottom, #909ddc 0%, #2e44b6 100%);
$linear03: linear-gradient(to bottom, #546ce6 0%, #3549b9 85%, #222836 100%);
$linear04: linear-gradient(to bottom, #7684ae 0%, #4f576e 85%, #222836 100%);
$linear05: linear-gradient(to right, #546ce6 0%, #3549b9 100%);
$linear06: linear-gradient(to top, #b0b4c95b 0%, #ffffff 70%);

//border
$Border_01: #2d43b6;
$Border_02: #e0e7ff;
$Border_03: #838ba0;
$Border_04: #d8d8d8;
$Border_05: #ef6b5d;
$Border_06: #d8d8d89f;

//shadow
$shadow_01: #00000033;
$shadow_02: #0000001c;

//filter
$filter_BG: #000000ad;

//homePage
$gameFilter_BG: linear-gradient(to right, #0c1c6d 0%,  #8f9cdc 50%, #6674bf 60%, #0c1c6d 100%);


//公用
@mixin textHidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//按鈕樣式
@mixin btnStyle01 {  //主色
    background: $BG_Color03;
    border-radius: pxToVw(20);
    color: $Font_Color03;
}
@mixin btnStyle02 {  //淺灰藍底
    background: #eef1f8;
    border-radius: pxToVw(20);
    color: $Font_Color03;
    box-shadow: 0 2px 5px $shadow_01;
}
@mixin btnStyle03 {  //漸層
    background: $linear01;
    border-radius: pxToVw(20);
    color: $Font_Color03;
}
@mixin btnStyle04 {  //主色線色
    background: transparent;
    border: pxToVw(1) solid $Border_01 ;
    border-radius: pxToVw(20);
    color: $Font_Color04;
}

@mixin switchBtnStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $BG_Color04;
    border-radius: 30vw;
    padding: 0.2vw;
    position: relative;

    &.on {

        .bar {
            left: unset;
            right: 0.2vw;
            transform: translate(-2%,-50%);
        }

        p {
            &:nth-of-type(1) {
                color: $Font_Color02;
            }
            &:nth-of-type(2) {
                color: $Font_Color03;
            }
        }
    }

    p {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $Font_Color03;
        text-align: center;
        position: relative;
        z-index: 8;

        &:nth-of-type(2) {
            color: $Font_Color02;
        }
    }

    .bar {
        width: 48%;
        height: 92%;
        background: $BG_Color03;
        border-radius: 30vw;
        position: absolute;
        top: 50%;
        left: 0.2vw;
        transform: translate(2%,-50%);
        transition: all 0.4s;
        z-index: 7;
    }
}

//input select 樣式
@mixin input01 {
    border: pxToVw(1) solid $Border_04;
    border-radius: pxToVw(20);
    font-size: 3.8vw;
}

//選擇彈窗
@mixin jumpBlock {
    width: 95%;
    height: auto;
    background: $BG_Color01;
    border-radius: 2vw;
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);

    &.display {
        display: block;
    }

    &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 2.2vw 4vw 2.2vw;
        border-color: transparent transparent $BG_Color01 transparent;
        position: absolute;
        top: -3.2vw;
        left: 6vw;
    }

    .titleBlock {
        width: 100%;
        height: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: $BG_Color02;
        border-radius: 2vw 2vw 0 0;
        position: relative;

        p {
            color: $Font_Color06;
            font-size: 4vw;
            font-weight: bold;
        }

        i {
            width: 5vw;
            height: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $Font_Color06;
            font-size: 4vw;
            position: absolute;
            top: 50%;
            right: 3vw;
            transform: translateY(-50%);
        }
    }

    .content {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0 0 2vw 2vw;
        padding: 2vw;

        button {
            width: auto;
            height: auto;
            background: $BG_Color04;
            color: $Font_Color04;
            font-size: 3.8vw;
            border: 0.2vw solid $Border_01;
            white-space: nowrap;
            padding: 2vw 3vw;
            margin: 0 2vw 2vw 0;

            &:active,&.active {
                background: $BG_Color03;
                color: $Font_Color03;
            }
        }
    }
}

//main
body main.decoBG .grayBG {
    background: $BG_Color00;
}
body .marqueeWrap .marquee p {
    color: $Font_Color02;
}
body .hotGameBtn {
    background: $linear01;
}
body .hotGameBtn p {
    color: $Font_Color03;
}

//header
header {
    background: $BG_Color01;
    box-shadow: 0 0 15px $shadow_01;
}
header.innerPage .pageTitle {
    color: $Font_Color06;
}
header.innerPage .pageTitle i.fa-circle-dollar-to-slot {
    color: $Font_Color06;
}
header.innerPage .pageTitle i.fa-magnifying-glass {
    color: $Font_Color06;
}
header .message::before {
    background: $Font_remind;
    box-shadow: 0 0 15px $shadow_01;
}
header .innerMode_header {
    background: $BG_Color01;
    box-shadow: 0 0 15px $shadow_01;
}
header .innerMode_header .pageTitle {
    color: $Font_Color06;
}
header .innerMode_header .finish {
    color: $Font_Color08;
}
header .innerMode_header .quickHref {
    color: $Font_Color02;
}

//homePage 
.homePage {
    background: $BG_Color00;
}
.homePage .memberArea .memberInfo .nameBlock p {
    color: $Font_Color02;
}
.homePage .memberArea .memberInfo .nameBlock .vipLevel {
    background: $linear01;
}
.homePage .memberArea .memberInfo .nameBlock .vipLevel p {
    color: $Font_Color03;
}
.homePage .memberArea .memberInfo .total {
    color: $Font_Color05;
}
.homePage .memberArea .quickBtnBlock a p {
    color: $Font_Color04;
}
.homePage .memberArea .homeCenter .gameFilter ul li {
    background: $BG_Color01;
    border: 0.3vw solid $Border_02; 
}
.homePage .memberArea .homeCenter .gameFilter ul li .outer p.type {
    color: $Font_Color02;
}
.homePage .memberArea .homeCenter .gameFilter ul li.active .outer {
    background: $linear02;
}
.homePage .memberArea .homeCenter .gameFilter ul li.active .outer p {
    color: $Font_Color03;
}
.homePage .memberArea .homeCenter .gameType ul li .gameDetails p {
    color: $Font_Color05;
}
.homePage .memberArea .homeCenter .gameType ul li .gameDetails span {
    color: $Font_Color02;
}


//各頁底色
.betLimitPage,
.betRecordPage {
    background: $BG_Color00;
}

//footer
footer ul {
    background: $BG_Color01;
    box-shadow: 0 0 10px $shadow_01;
}
footer ul li.active span {
    color: $Font_Color04;
}
footer ul li i::before{
    background: $Font_remind;
}
footer ul li span {
    color: $Font_Color02;
}
footer ul.mainPageNav li.active p {
    color: $Font_Color04;
}
footer ul.multiBet_mode {
    background: $BG_Color01;
}
footer ul.multiBet_mode .title {
    color: $Font_Color06;
    border-left: 0.8vw solid $Font_Color04;
}
footer ul.multiBet_mode>div.current_state {
    background: $BG_Color08; 
}
footer ul.multiBet_mode>div.current_state .group {
    color: $Font_Color03;
}
footer ul.multiBet_mode>div.current_state .group .count {
    background: $BG_Color01;
    color: $BG_Color08;
}
footer ul.multiBet_mode>div.total_count {
    background: $BG_Color04;
    border-color: $Border_04;
}
footer ul.multiBet_mode>div.total_count .win {
    @include textHidden;
}
footer ul.multiBet_mode>div.total_count .win .tot {
    color: $Font_remind;
}
footer ul.multiBet_mode>div.total_count .moreType {
    color: $Font_Color02;
}
footer ul.multiBet_mode>div.total_count input.limit {
    @include input01;
}
footer ul.multiBet_mode>div.total_count .totMoney {
    color: $Font_Color02;
}
footer ul.multiBet_mode>div.total_count .totMoney span {
    color: $Font_Color02;
}
footer ul.multiBet_mode>div.moreCount {
    background: $BG_Color00;
}
footer ul.multiBet_mode>div.moreCount>div {
    border: 0.1vw solid $Border_06;
    color: $Font_Color06;
}
footer ul.multiBet_mode>div.moreCount>div.numBlock {
    background: $BG_Color01;
}
footer ul.multiBet_mode>div.moreCount>div.functionBlock {
    background: $BG_Color09;
}
footer ul.multiBet_mode>div.moreCount>div.checkBlock .addBtn {
    color: $Font_Color02;
}
footer ul.multiBet_mode>div.moreCount>div.checkBlock button {
    @include btnStyle01;
}
footer ul.multiBet_mode>div.moreCount>div.checkBlock button .total {
    @include textHidden;
}
footer ul.multiBet_mode ul li {
    border-bottom: 0.2vw solid $Border_04;
}
footer ul.multiBet_mode ul li .group_normal .title .point {
    color: $Font_Color06;
}
footer ul.multiBet_mode ul li .group_normal .betType {
    color: $Font_Color01;
}
footer ul.multiBet_mode ul li .group_normal .teamWrap {
    color: $Font_Color02;
}
footer ul.multiBet_mode ul li .group_normal .rate {
    color: $Font_Color06;
}

//jumpWindow
.filter {
    background: $filter_BG;
}
.filter .jumpWindow.announcement {
    background: $BG_Color01;
}
.filter .jumpWindow.announcement .title {
    color: $Font_Color01;
}
.filter .jumpWindow.announcement .content p {
    color: $Font_Color02;
}
.filter .jumpWindow.announcement .btnBlock button {
    background: $BG_Color01;
    color: $Font_Color01;
}
.filter .jumpWindow.announcement .btnBlock button:first-child {
    border-right: pxToVw(1) solid $Border_02;
}
.filter .jumpWindow.announcement .btnBlock button.seeMore {
    color: $Font_Color04;
}

//betLimitPage
.betLimitPage .dataTable .tableOuter {
    border: 0.2vw solid $Border_03;
    box-shadow: 0 1px 4px $shadow_01;
}
.betLimitPage .dataTable .tableOuter table tr {
    border-bottom: 0.2vw solid $Border_03;
}
.betLimitPage .dataTable .tableOuter table tr.gameName th {
    background: $BG_Color03;
}
.betLimitPage .dataTable .tableOuter table tr.gameName th .outer p{
    color: $Font_Color03;
}
.betLimitPage .dataTable .tableOuter table tr:nth-of-type(even) {
     background: $BG_Color04;
}
.betLimitPage .dataTable .tableOuter table tr td {
    border-right: 0.2vw solid $Border_03;
}
.betLimitPage .dataTable .tableOuter table tr td p {
    color: $Font_Color06;
}
.betLimitPage .dataTable .tableOuter table tr td p span {
    color: $Font_Color06;
}

//betRecordPage
.betRecordPage .recordType {
    background: $BG_Color01;
    box-shadow: 0 2px 4px $shadow_02,
                    0 -1px 4px transparent;
}
.betRecordPage .recordType li {
    @include btnStyle02;

    &.active {
         border: pxToVw(1) solid $Border_01;

         p {
            color: $Font_Color04;
         }
    }
}
.betRecordPage .recordType li p {
    color: $Font_Color06;
}
.betRecordPage .searchFilters {
    background: $BG_Color00;
    box-shadow: 0 2px 4px $shadow_02,
    0 -1px 4px transparent;
}
.betRecordPage .searchFilters button {
    background: $BG_Color01;
    box-shadow: 0 2px 5px $shadow_02;
    color: $Font_Color01;

    &.active {
        background: $BG_Color03;
        color: $Font_Color03;
    }
}
.betRecordPage .dataTable .detailBlock .tableOuter  {
    box-shadow: 0 1px 4px $shadow_01;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr {
    border-bottom: 0.1vw solid $Border_04;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr.gameName th {
    background: $BG_Color03;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr.gameName th .outer .state {
    border-left: 0.6vw solid $Font_link;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr.gameName th p {
    color: $Font_Color03;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr.summary td .outer p:last-child {
    @include textHidden;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr:nth-of-type(4),
.betRecordPage .dataTable .detailBlock .tableOuter table tr:nth-of-type(5),
.betRecordPage .dataTable .detailBlock .tableOuter table tr:nth-of-type(6),
.betRecordPage .dataTable .detailBlock .tableOuter table tr:nth-of-type(7) {

    td {
       border-right: 0.1vw solid $Border_04; 

       &:nth-of-type(odd) {
            background: $BG_Color00;
        } 
    }
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr td {
    background: $BG_Color01;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr td.gameInfo {
    background: $BG_Color01;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr td.gameInfo .outer .team span {
    color: $Font_Color02;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr td p {
    color: $Font_Color01;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr td p.highLight {
    color: $Font_Color04;
}
.betRecordPage .dataTable .detailBlock .tableOuter table tr td p.important {
    color: $Font_remind;
}
.betRecordPage .dataTable.history .itemName_Wrap {
    background: $BG_Color04;
    box-shadow: 0 1px 4px $shadow_02,
    0 -1px 4px transparent;
}
.betRecordPage .dataTable.history .itemName_Wrap>div {
    border-right: 0.2vw solid $Border_03;
}
.betRecordPage .dataTable.history .itemName_Wrap>div p {
    color: $Font_Color01;
}
.betRecordPage .dataTable.history .itemName_Wrap li {
    background: $BG_Color00;
    border-bottom: 0.2vw solid $Border_04;
}
.betRecordPage .dataTable.history .itemName_Wrap li .overView {
    background: $BG_Color01;
    box-shadow: 0 2px 4px $shadow_02,
        0 -1px 4px transparent;
}
.betRecordPage .dataTable.history .itemName_Wrap li .overView>div p {
    color: $Font_Color01;
}
.betRecordPage .dataTable.history .itemName_Wrap li .overView>div p.betNum {
    color: $Font_remind;
}
.betRecordPage .dataTable.history .itemName_Wrap li .overView>div .countNum {
    background: $BG_Color02;
    color: $Font_Color03;
}
.betRecordPage .dataTable.history .itemName_Wrap li .detailBlock .tableOuter table tr {
    border-bottom: 0.1vw solid $Border_04;
}
.betRecordPage .dataTable.history .itemName_Wrap li .detailBlock .tableOuter table tr.gameName th {
    background: $BG_Color03;
}
.betRecordPage .dataTable.history .itemName_Wrap li .detailBlock .tableOuter table tr.gameName th .outer .state {
    border-left: 0.6vw solid $Font_link;
}
.betRecordPage .dataTable.history .itemName_Wrap li .detailBlock .tableOuter table tr.gameName th p {
    color: $Font_Color03;
}
.betRecordPage .countBlock {
    background: $BG_Color01;
    box-shadow: 0 2px 4px transparent,
                0 -1px 16px $shadow_02;
}
.betRecordPage .countBlock::before {
    background: $Border_04;
}
.betRecordPage .countBlock .half p {
    color: $Font_Color01;
}
.betRecordPage .countBlock .half span {
    @include textHidden;
}
.betRecordPage .countBlock .half span.bet {
    color: $Font_Color04;
}
.betRecordPage .countBlock .half span.result {
    color: $Font_positive;
}